.App {
  /* width: 0%; */
  text-align: center;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, #e0eafc, #cfdef3);
  /* background-image: linear-gradient(to bottom, #efefbb, #ffeeee); */
}
